doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  meta(name='generator' content='Notion Blog Publisher 1.0.0')
  // Facebook Meta Tags
  meta(property='og:url' content!= post.link)
  meta(property='og:type' content='article')
  meta(property='og:title' content= post.title)
  meta(property='og:description' content= post.summary)
  meta(property='og:image' content!= post.cover)
  // Twitter Meta Tags
  meta(name='twitter:card' content='summary_large_image')
  meta(property='twitter:domain' content='blog.cloudguide.nl')
  meta(property='twitter:url' content!= post.link)
  meta(name='twitter:title' content= post.title)
  meta(name='twitter:description' content= post.summary)
  meta(name='twitter:image' content!= post.cover)

  title= post.title
  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css' integrity='sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO' crossorigin='anonymous')
  link(href='/assets/css/screen.css' rel='stylesheet')
  link(href='/assets/css/main.css' rel='stylesheet')
  script(src='/assets/js/jquery.min.js')
noscript#deferred-styles
  link(href='https://fonts.googleapis.com/css?family=Righteous%7CMerriweather:300,300i,400,400i,700,700i' rel='stylesheet')
  link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.0.13/css/all.css' integrity='sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp' crossorigin='anonymous')


include menu.pug

.site-content
  .container
    //
      Site Title
      ==================================================
    include site-title.pug


    //
      Content
      ==================================================
    .main-content
      //
        Begin Article
        ==================================================
      .container
        .row
          // Post Share
          .col-md-2.pl-0
            .share.sticky-top.sticky-top-offset
              p
                | Share
              ul
                li.ml-1.mr-1
                  a(target='_blank' href=`https://twitter.com/intent/tweet?text=${post.title}&url=${post.link}` onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;")
                    i.fab.fa-twitter
                li.ml-1.mr-1
                  a(target='_blank' href=`https://facebook.com/sharer.php?u=${post.link}` onclick="window.open(this.href, 'facebook-share', 'width=550,height=435');return false;")
                    i.fab.fa-facebook-f
                li.ml-1.mr-1
                  a(target='_blank' href=`https://www.linkedin.com/shareArticle?mini=true&url=${post.link}` onclick="window.open(this.href, 'width=550,height=435');return false;")
                    i.fab.fa-linkedin-in
              .sep
              ul
                li
                  a.small.smoothscroll(href='#disqus_thread')
          // Post
          .col-md-9.flex-first.flex-md-unordered
            .mainheading
              // Author Box
              .row.post-top-meta
                .col-xs-12.col-md-3.col-lg-2.text-center.text-md-left.mb-4.mb-md-0
                  img.author-thumb(src= post.author.avatar)
                .col-xs-12.col-md-9.col-lg-10.text-center.text-md-left
                  b= post.author.name
                  
                  span.author-description= post.authorIntro + " (Notion AI generated content)"
                  
              // Post Title
              h1.posttitle= post.title
            // Post Featured Image
            img.featured-image.img-fluid(src= post.cover)
            // End Featured Image
            // Post Content
            .article-post
              // Toc if any
              // End Toc

              each paragraph in post.paragraphs
                case paragraph.type
                  when "text"
                    p= paragraph.content
                  when "bulleted_list_item"
                    li= paragraph.content
                  when "heading_2"
                    b= paragraph.content
                  when "image"
                    p 
                      img(src=paragraph.url)
                  default 
                    p= paragraph.type

            // Post Date
            p
              small
                span.post-date
                  time.post-date(datetime= post.date)= post.date
      //
        End Article
        ==================================================
      //
        Review with LD-JSON, adapt it for your needs if you like, but make sure you test the generated HTML source code first:
        https://search.google.com/structured-data/testing-tool/u/0/
        ==================================================
    include alert-bar.pug


  include footer.pug

script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js' integrity='sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut' crossorigin='anonymous')
script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js' integrity='sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k' crossorigin='anonymous')
script(src='/assets/js/mediumish.js')
script(src='/assets/js/ie10-viewport-bug-workaround.js')

